<a href="https://colab.research.google.com/github/SilviaMCSC/Curso-An-lise-de-Dados---Python/blob/main/CURSO_AN%C3%81LISE_DE_DADOS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


##ANÁLISE DE DADOS  - PYTHON

#Aula 01 - Dados

Dados por si só, são apenas registros.
Análise de dados consiste em transformar registros em algo útil, em conhecimento.




![image.png]()


BIG DATE - É quando os dados passaram a ser grandes e foram classificados como:

*VARIEDADE

*VOLUME

*VELOCIDADE


A tecnologia entra aqui pra tratar os grandes dados da atualidade.
Classificação:

QUALITATIVO E QUANTITATIVO.


SUBCLASSIFICAR - 2º filtro


QUALITATIVO - descreve

*NOMINAL - descreve nominalmente. EX: nome, gÊnero

*ORDINAL - descreve ordem numérica. EX: Id, ranking

TIPOS - String

operadores -  IS, IS NO


  QUANTITATIVO - conta

  *DISCRETO - não faz sentido ser quebrado. EX: quatidade de filhos.

  TIPOS - INTEGER           

  *CONTÍNUO - fa sentido ser quebrado. EX: salário

  TIPOS - FLOAT, BOOLEAN



  O processo de análise de dados começa com o contexto da pergunta de negócio. O que a empresa quer com os dados?

  1º O mais importante é a pergunta ou um tema. Precisa ter clareza.

  2º ETL:

EXTRACT - Extração de algum lugar(banco de dados)

TRANSFORM - Transformação/modelagem (Python)

LOAD - Carregar


Em seguida fazer um relatório. Precisa se claro e consciso. De fácil entendimento para aqueles que irão utilizá-lo.
**O analista entrega um presente par ao tomador de decisões.

# 1 - Variáveis e tipos de dados em Python

## 1.1 - Variáveis

In [1]:
'''
Em Python, variáveis são utilizadas para armazenar valores na memória do
computador. Para criar uma variável, você precisa usar um nome e um valor.
O nome da variável deve seguir as regras de nomenclatura do Python:

Deve começar com uma letra ou sublinhado (_).
Pode conter letras, números e sublinhados.
Não pode ser uma palavra-chave reservada do Python.
Para atribuir um valor a uma variável, utilize o operador de atribuição (=).
Exemplo:
'''
nome = 'Silvia' # variável recebendo uma String
print(nome)  # impressão da variável nome
print(type(nome)) #imprime o tipo da vairável
idade = 43 #Variaável recebendo um int
print(idade) # impressão da variável idade
print(type(idade))  #imprime o tipo da vairável
altura = 1.76 #variável recebendo um valor do tipo float
print(altura) # impressão da variável altura
print(type(altura)) #imprime o tipo da vairável

Silvia
<class 'str'>
43
<class 'int'>
1.76
<class 'float'>

## 1.2 - Tipos de dados

In [2]:
'''
Tipos de Dados:

Cada variável em Python possui um tipo de dado, que define o tipo de valor que
ela pode armazenar. Os tipos de dados mais comuns em Python são:

Inteiro (int): Números inteiros, como 1, 2, 3, etc.
Ponto flutuante (float): Números com casas decimais, como 1.5, 2.75, 3.14, etc.
String (str): Textos, como "Olá, mundo!", "Python é legal", etc.
Booleano (bool): Valores True ou False.
Conversão de Tipos:

É possível converter um tipo de dado para outro usando funções específicas.
Exemplo:
'''
nome = 'Silvia'
print(type(nome))
numero_inteiro = 10
print(type(numero_inteiro))
numero_float = float(numero_inteiro)  # Converte um inteiro para um float - Casting
print(type(numero_float))

<class 'str'>
<class 'int'>
<class 'float'>

# 2 - Operadores Python

## 2.1 - Operadores Matemáticos

In [ ]:
'''
Os operadores aritméticos em Python permitem realizar operações matemáticas
básicas, como adição, subtração, multiplicação, divisão e exponenciação. São
ferramentas essenciais para qualquer programador Python, desde iniciantes até
experientes.
'''

In [ ]:
# Soma (+)
soma = 5 + 2
print(soma)

7

In [ ]:
# Subtração (-)
menos = 5 - 2
print(menos)

3

In [ ]:
# Multiplicação (*)
vezes = 5 * 2
print(vezes)

10

In [ ]:
# Divisão (/)
dividir = 5 / 2
print(dividir)

2.5

In [ ]:
# Parte Inteira da divisão (//)
inteiro = 5 // 2
print(inteiro)

2

In [ ]:
# Resto da divisão (%)
resto = 5 % 2
print(resto)

1

In [ ]:
# Exponenciação (**)
elevado = 5 ** 2
print(elevado)

25

## 2.2 - Operadores de Comparação

In [ ]:
'''
Os operadores de comparação em Python permitem verificar se duas expressões são
iguais, diferentes, maiores, menores, etc. São ferramentas essenciais para tomar
decisões e realizar comparações em seus programas. Retornam com resultado
verdadeiro (True) ou Falso (False) (tipo bool)
'''

In [ ]:
# Operador de Igualdade (==)
igualdade = 3 == 4
print(igualdade)

False

In [ ]:
# Operador de Diferença (!=)
diferente = 3 != 4
print(diferente)

True

In [ ]:
# Operador maior que (>)
maior = 3 > 4
print(maior)

False

In [ ]:
# Operador menor que (<)
menor = 3 < 4
print(menor)

True

In [ ]:
# Operador maior ou igual a (>=)
maior_igual = 3 >= 4
print(maior_igual)

False

In [ ]:
# Operador menor ou igual a (<=)
menor_igual = 3 <= 4
print(menor_igual)

True

In [ ]:
# Operador de identidade (is)
# É interessante utilizar o is ao invés do ==
# Verifica se um elemento está em uma coleção de caracteres
a = 7
b = 7.0
print(a is b)
print(a == b)

False
True

In [3]:
# Operador de identidade (is not)
# Verifica se um elemento não está em uma coleção de caracteres
a = 7
b = 7.0
print(a is not b)
print(a != b)

True
False

## 2.3 Operadores de Associação

In [ ]:
'''
Os operadores de associação in e not in em Python permitem verificar se um
elemento está presente ou não em uma coleção, como listas, tuplas, dicionários e
strings. São ferramentas úteis para filtrar dados e realizar comparações em seus
programas. Assim como os aoperadores de comparação eles retornam
Verdadeiro (True) ou Falso (False)
'''

In [4]:
# Operador in
nome = 'Silvia'
print('S' in nome)

True

In [ ]:
# Operador not in
nome = 'Douglas'
print('D' not in nome)

False

## 2.4 - Operadores Lógicos (AND, OR e NOT)

In [ ]:
'''
Os operadores lógicos em Python permitem combinar expressões booleanas
(True ou False) para formar novas expressões booleanas. São ferramentas
essenciais para tomar decisões e realizar comparações complexas em seus
programas. São eles:

E (and): Retorna True se ambas as expressões forem True.
Exemplo: x > 0 and y < 10.

Ou (or): Retorna True se pelo menos uma das expressões for True.
Exemplo: x == 0 or y == 10.

Não (not): Inverte o valor da expressão.
Exemplo: not (x > 0).
'''

In [ ]:
# Operador AND retorna verdadeiro se todas as condições forem verdadeiras
a = 3
b = 4
c = 5
print(a < b and b < c)
print(a < b and b > c)

True
False

In [ ]:
# Operador OR retorna verdadeiro se pelo menos uma das condições for verdadeira
a = 3
b = 4
c = 5
print(a < b or b < c) # verdadeiro
print(a < b or b > c) # verdadiro
print(a > b or a > c) # Falso

True
True
False

In [ ]:
# Operador not (inverte o resulta de verdadeiro para falso e de falso para verdadeiro)
a = 3
b = 4
c = 5
print(not(a > b))
print(not(a < b))

True
False

# 3 - Strings

## 3.1 - Formatação de Strings (f-strings)

In [ ]:
'''
As f-strings em Python são uma maneira concisa e elegante de formatar strings.
Elas permitem incorporar expressões Python diretamente dentro de strings,
tornando o código mais legível e fácil de manter.

Como usar f-strings:

Para usar f-strings, basta prefixar uma string literal com a letra "f".
Dentro da string, você pode usar expressões Python entre chaves "{}":
'''

In [6]:
cliente = 'Silvia'
idade = 43
print(f'O nome do cliente é {cliente}, e ela tem {idade} anos de idade.')

O nome do cliente é Silvia, e ela tem 43 anos de idade.

In [ ]:
taxa = 2/3
print(taxa)
print(f'O resultado da taxa é aproximadamente {taxa:.2f}')

0.6666666666666666
O resultado da taxa é aproximadamente 0.67

## 3.2 - Entrada definida pelo usuário (função input)

In [ ]:
'''
A função input() em Python permite que você obtenha entrada do usuário durante a
execução do programa. É uma ferramenta essencial para interagir com o usuário e
coletar dados para processamento.

Como usar a função input():

A função input() é simples de usar. Basta fornecer uma mensagem entre parênteses
para instruir o usuário sobre o que digitar:
'''

In [7]:
nome = input('Informe seu primeiro nome: ')
print(f'Olá, {nome}!')

Informe seu primeiro nome: Silvia
Olá, Silvia!

In [8]:
nome = input('Informe o seu primeiro nome: ')
massa = float(input('Informe seu peso em kg: ')) #precisa fazer o casting colocando o tipo antes do input
altura = float(input('Informe sua altura em metros na forma decimal: ')) #precisa fazer o casting colocando o tipo antes do input
imc = massa / (altura ** 2) # para calcular o valor da variável imc precisa dividir a massa pela altura
print(f'Olá {nome}! Seu IMC é {imc:.2f}') # formatação para duas casas decimais

Informe o seu primeiro nome: Silvia
Informe seu peso em kg: 70
Informe sua altura em metros na forma decimal: 1.76
Olá Silvia! Seu IMC é 22.60