<a href="https://colab.research.google.com/github/SilviaMCSC/Curso-An-lise-de-Dados---Python/blob/main/Tuplas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Tuplas

São estruturas de dados imutáveis

Pode-se criar Tuplas vazias ()

São indexáveis

Podem ser fatiadas

***É uma constante como em Java***

In [ ]:
'''
Tuplas são estruturas de dados imutáveis
'''
# Criando tuplas
nomes = ('Douglas', 'Daniela', 'Pedro', 'Maria')
idades = (47, 8, 68, 67)
alturas = (1.85, 1.32, 1.75, 1.69)
tupla_vazia = ()
print(type(nomes))
print(nomes)

<class 'tuple'>
('Douglas', 'Daniela', 'Pedro', 'Maria')

In [ ]:
# Fatiando tuplas
nomes = ('Jurandi', 'Lara', 'Eric', 'Laís')
idades = (43, 20, 17, 14)
alturas = (1.76, 1.67, 1.87, 1.60)
print(nomes[0]) # nome da posição zero é Jurandi
print(idades[1:3]) #idades na píndice 1 é 20, pois começa a contar do índice 0
#e o índice 3 significa que ele precisa entrar na conta então tem que ir até o índice 4
print(alturas[-1])# alturas é 1.6 pois o -1 é do ínice inverso e mostra de trás para frente o útimo elemento da Tupla

Jurandi
(20, 17)
1.6

In [ ]:
# convertendo objetos em tuplas e vice-versa
lista = [1,2,3] # lista em cochetes
tupla = tuple(lista) #tuplas entre parênteses.
                    # Casting de lista para Tupla
nova_lista = list(tupla) #armazenando a Tupla em uma nova variável
print(lista) # imprime a lista original
print(tupla) # imprime o casting feito para Tupla
print(nova_lista) # imprime a nova lista

[1, 2, 3]
(1, 2, 3)
[1, 2, 3]

In [ ]:
# verificando a existência de um elemento em uma tupla
lista = [1,2,3]
tupla = tuple(lista)  # Casting de lista para Tupla
nova_lista = list(tupla) # converte a nova lista em uma nova Tupla
print(4 in tupla)
print(4 not in tupla)

False
True